@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #001f3f;
    height: 100%;
    font-family: 'Poppins', sans-serif;
}

.main {
    width: 500px;
    margin: 320px auto;
    color: #DDDDDD;
    text-align: center;
}

.main h1 {
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
}
.main h1:hover {
    color: #FF4136;
}

#seconds, #tens {
    font-size: 2rem;  
}

#seconds:hover, #tens:hover {
    color: #FF4136;
}
.main button {
    display: inline-block;
    background: white;
    padding: 10px 25px;
    border: 2px solid transparent;
    margin-top: 25px;
    width: 180px;
    font-weight: bold;
    color: black;
    letter-spacing: 3px;
    transition: 0.2s;
}
.main button:hover {
    border: 2px solid white;
    background: transparent;
    color: white;
}